<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: Orange;


h1 {
  text-align: center;
background-color: black;
opacity: 0.9;
color: white;
font-size: 60px;
}

h2{
  color:black;
  font-style: oblque;
  font-size;30px;
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}



