body {
  background-color: Green;
}

h1 {
background-color: black;
text-align: centre;
opacity: 0.9;
color: white;
font-size: 60px;
}



h2{
  color:black;
  font-style: oblque;
  font-size;30px;
}


p {
  font-family: verdana;
  font-size: 20px;
}


