<!DOCTYPE html>
<html>
<head>
<style>
body {
  background-color: Orange;
}

h1 {
background-color: black;
text-align: centre;
opacity: 0.9;
color: white;
font-size: 60px;
text-indent: 60px;
}

h2{
  color:black;
  font-style: oblque;
  font-size;30px;
  text-indent: 60px;
}

p {
  font-family: verdana;
  font-size: 20px;
}

</style>
</head>
<body>
